# PostgreSQL database connection URL
DATABASE_URL="postgresql://username:password@localhost:5432/hotaloraa_db?schema=public"

# Server Port
PORT=5000

# JWT Secret for Auth
JWT_SECRET="your_jwt_secret_key_here"
